Snakes

In [1]:
import pandas as pd
import re

trash_df = pd.read_csv('../data/trash_hauler_report.csv')
#Explore the data
print(trash_df.shape)
print(trash_df.columns)
print(trash_df.dtypes)
print(trash_df.info())
trash_df.head()

(20226, 11)
Index(['Request Number', 'Date Opened', 'Request ', 'Description',
       'Incident Address', 'Zip Code', 'Trash Hauler', 'Trash Route',
       'Council District', 'State Plan X', 'State Plan Y'],
      dtype='object')
Request Number        int64
Date Opened          object
Request              object
Description          object
Incident Address     object
Zip Code            float64
Trash Hauler         object
Trash Route          object
Council District    float64
State Plan X        float64
State Plan Y        float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20226 entries, 0 to 20225
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Request Number    20226 non-null  int64
 1   Date Opened       20226 non-null  object
 2   Request           20226 non-null  object
 3   Description       20195 non-null  object
 4   Incident Address  20217 non-null  object
 5   Zip Code          20151 non-null  float64
 6   Trash Hauler      19325 non-null  object
 7   Trash Route       19279 non-null  object
 8   Council District  20177 non-null  float64
 9   State Plan X      20198 non-null  float64
 10  State Plan Y      20198 non-null  float64
dtypes: float64(4), int64(1), object(6)
memory usage: 1.7+ MB
None

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y
0,25270,11/01/17,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207.0,RED RIVER,3205,2.0,1.727970e+06,686779.478089
1,25274,11/01/17,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1.721259e+06,685444.799565
2,25276,11/01/17,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1.707027e+06,659887.471571
3,25307,11/01/17,Trash - Curbside/Alley Missed Pickup,missed,2603 old matthews rd,37207.0,WASTE IND,2206,2.0,1.735692e+06,685027.245923
4,25312,11/01/17,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1.710186e+06,664205.101066

In [5]:
import pandas as pd
cleaned_missed_pickups = pd.read_csv('../data/cleaned_missed_pickups.csv')
print(cleaned_missed_pickups.shape)
print(cleaned_missed_pickups.columns)
print(cleaned_missed_pickups.dtypes)
print(cleaned_missed_pickups.info())
cleaned_missed_pickups.head()

(17583, 13)
Index(['Request Number', 'Date Opened', 'Request', 'Description',
       'Incident Address', 'Zip Code', 'Trash Hauler', 'Trash Route',
       'Council District', 'State Plan X', 'State Plan Y', 'description_clean',
       'Street Name'],
      dtype='object')
Request Number         int64
Date Opened           object
Request               object
Description           object
Incident Address      object
Zip Code             float64
Trash Hauler          object
Trash Route           object
Council District     float64
State Plan X         float64
State Plan Y         float64
description_clean     object
Street Name           object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17583 entries, 0 to 17582
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request Number     17583 non-null  int64
 1   Date Opened        17583 non-null  object
 2   Request            17583 non-null  object
 3   Description        17554 non-null  object
 4   Incident Address   17574 non-null  object
 5   Zip Code           17561 non-null  float64
 6   Trash Hauler       16861 non-null  object
 7   Trash Route        16841 non-null  object
 8   Council District   17573 non-null  float64
 9   State Plan X       17559 non-null  float64
 10  State Plan Y       17559 non-null  float64
 11  description_clean  17552 non-null  object
 12  Street Name        17582 non-null  object
dtypes: float64(4), int64(1), object(8)
memory usage: 1.7+ MB
None

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,description_clean,Street Name
0,25274,2017-11-01,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1.721259e+06,685444.799565,curb/trash miss tuesday.,Clarksville Pike
1,25276,2017-11-01,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1.707027e+06,659887.471571,curb/trash miss tuesday.,Thunderbird Dr
2,25307,2017-11-01,Trash - Curbside/Alley Missed Pickup,missed,2603 old matthews rd,37207.0,WASTE IND,2206,2.0,1.735692e+06,685027.245923,missed,Old Matthews Rd
3,25312,2017-11-01,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1.710186e+06,664205.101066,missed the even side of the road.,Croley Dr
4,25327,2017-11-01,Trash Collection Complaint,"Trash out on time, miss again Tuesday. ALLEY",1816 Jo Johnston Ave,37203.0,METRO,9208,21.0,1.731459e+06,666013.601229,"trash out on time, miss again tuesday. alley",Jo Johnston Ave

In [7]:
fee_per_missed_pickup=200

In [11]:
missed_counts=cleaned_missed_pickups['Description'].str.contains('missed' ,case=False ,na=False)

In [33]:
print(missed_counts)

0        False
1        False
2         True
3         True
4        False
         ...
17578     True
17579     True
17580    False
17581     True
17582     True
Name: Description, Length: 17583, dtype: bool

In [35]:
print(missed_counts.head())

0    False
1    False
2     True
3     True
4    False
Name: Description, dtype: bool

In [47]:
print(missed_counts.head())

0    False
1    False
2     True
3     True
4    False
Name: Description, dtype: bool

merge_try=pd.merge(missed_counts,cleaned_missed_pickups., on 'adress', how 'left')

In [49]:
merge_try = pd.merge(
    missed_counts, 
    cleaned_missed_pickups, 
    left_index=True, 
    right_index=True, 
    how='left'
)

In [53]:
print(merge_try.head(5))

   Description_x  Request Number Date Opened  \
0          False           25274  2017-11-01
1          False           25276  2017-11-01
2           True           25307  2017-11-01
3           True           25312  2017-11-01
4          False           25327  2017-11-01

                                Request  \
0  Trash - Curbside/Alley Missed Pickup
1  Trash - Curbside/Alley Missed Pickup
2  Trash - Curbside/Alley Missed Pickup
3  Trash - Curbside/Alley Missed Pickup
4            Trash Collection Complaint

                                  Description_y       Incident Address  \
0                      Curb/Trash miss Tuesday.  4028 Clarksville Pike
1                      Curb/trash miss Tuesday.    6528 Thunderbird Dr
2                                        missed   2603 old matthews rd
3             Missed the even side of the road.          604 croley dr
4  Trash out on time, miss again Tuesday. ALLEY   1816 Jo Johnston Ave

   Zip Code Trash Hauler Trash Route  Council District  State Plan X  \
0   37218.0    RED RIVER        4202               1.0  1.721259e+06
1   37209.0    RED RIVER        4205              20.0  1.707027e+06
2   37207.0    WASTE IND        2206               2.0  1.735692e+06
3   37209.0    RED RIVER        4203              20.0  1.710186e+06
4   37203.0        METRO        9208              21.0  1.731459e+06

    State Plan Y                             description_clean  \
0  685444.799565                      curb/trash miss tuesday.
1  659887.471571                      curb/trash miss tuesday.
2  685027.245923                                        missed
3  664205.101066             missed the even side of the road.
4  666013.601229  trash out on time, miss again tuesday. alley

        Street Name
0  Clarksville Pike
1    Thunderbird Dr
2   Old Matthews Rd
3         Croley Dr
4   Jo Johnston Ave

In [55]:
merge_try.columns

Index(['Description_x', 'Request Number', 'Date Opened', 'Request',
       'Description_y', 'Incident Address', 'Zip Code', 'Trash Hauler',
       'Trash Route', 'Council District', 'State Plan X', 'State Plan Y',
       'description_clean', 'Street Name'],
      dtype='object')

In [ ]:
merge_try['missed']= merge_try[merge_try['Description_x'].strcontains('missed', case=False,n